// En tu archivo SCSS
.dashboard-layout {
  display: grid;
  min-height: 100vh;
}

.sidebar-open {
  grid-template-columns: 240px 1fr;
}

.sidebar-closed {
  grid-template-columns: 80px 1fr;
}

.navlis {
    display: flex;
    align-items: center;
}

.sidebar {
  grid-column: 1;
}

.main-content {
  grid-column: 2;
}

.bgFood {
    position: relative;
}

.bgFood::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../images/BGDash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    filter: invert(1) opacity(0.1);
    z-index: -1;
}


.bgFood2 {
  position: relative;
}

.bgFood2::before {
  content: "";
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/BGDash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  filter: brightness(0.2);
  z-index: -1;
}