// En tu archivo SCSS
.dashboard-layout {
  display: grid;
  min-height: 100vh;
}

.sidebar-open {
  grid-template-columns: 280px 1fr;
}

.sidebar-closed {
  grid-template-columns: 40px 1fr;
}

.navlis {
  display: flex;
  align-items: center;
}

.sidebar {
  grid-column: 1;
}

.main-content {
  grid-column: 2;
}

.bgFood {
  position: relative;
  background-color: #a5a5a51c;
}

.bgFood::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/BGDash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  filter: invert(1) opacity(0.1) ;
  z-index: -1;
}



.bgFood2 {
  position: relative;
}


.bgFood2::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/BGDash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  filter: brightness(0.2);
  z-index: -1;
}

.scroll2::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.scroll:hover::-webkit-scrollbar {
  display: block;
}

.scroll2::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll2::-webkit-scrollbar-thumb {
  background: #b53325;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.bannerBG {
  position: relative;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.bannerBG::before {
  content: "";
  position: absolute;
  filter: contrast(0.8);
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 10px;
  z-index: -1;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1023px) {
  .dashboard-layout {
    grid-template-columns: 0fr;
  }
}
