.bgLanding {
  position: relative;
}

.bgLanding::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/landing/BGPaper.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.09;
}

.bgCarousel {
  position: relative;
  overflow: hidden;
}

.bgCarousel::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../images/landing/BGCarrousel.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  display: block;
  opacity: 0.1;
  z-index: -1; 
}

.human {
  position: relative;
  overflow: hidden; 
  min-height: 400px;
}

.human::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../images/landing/Human.avif");
  background-repeat: no-repeat;
  background-size: cover; 
  display: block;
  filter: brightness(0.5);
  z-index: 0; 
}


.text-L2 {
    font-size: 14px;
    line-height: 25px;
}

/* About Us */
.textABT {
  letter-spacing: -0.5px;
  font-size: 17px;
  line-height: 28px;
}

.titleABT {
  letter-spacing: -0.5px;
  font-size: 18px;
  line-height: 31px;
  margin-top: 33px;
  margin-bottom: 12px;
}


/* Change Log */
.titleCL {
  letter-spacing: -0.5px;
  font-size: 20px;
  line-height: 34px;
}

.textCL {
  letter-spacing: -0.5px;
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 30px;
}

/* Terms Conditions */
.titleTC {
  letter-spacing: -0.5px;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 24px;
}

.textTC {
  letter-spacing: -0.6px;
  font-size: 17px;
  line-height: 31px;
  margin-bottom: 16px;
}