.bgLanding::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/landing/bgpaper.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.05;
  min-height: 105vh;
}

.text-L2 {
    font-size: 15px;
    line-height: 25px;
    padding-left: 48px;
}
