.bgLanding::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/landing/bgpaper.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.05;
  min-height: 105vh;
}

.text-L2 {
    font-size: 15px;
    line-height: 25px;
    padding-left: 48px;
}

/* About Us */
.textABT {
  letter-spacing: -0.5px;
  font-size: 17px;
  line-height: 28px;
}

.titleABT {
  letter-spacing: -0.5px;
  font-size: 18px;
  line-height: 31px;
  margin-top: 33px;
  margin-bottom: 12px;
}


/* Change Log */
.titleCL {
  letter-spacing: -0.5px;
  font-size: 20px;
  line-height: 34px;
}

.textCL {
  letter-spacing: -0.5px;
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 30px;
}

/* Terms Conditions */
.titleTC {
  letter-spacing: -0.5px;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 24px;
}

.textTC {
  letter-spacing: -0.6px;
  font-size: 17px;
  line-height: 31px;
  margin-bottom: 16px;
}