.text1 {
  color: var(--text-1);
}

.text2 {
  color: var(--text-2);
}

.text3 {
  color: var(--text-3);
}

.text4 {
  color: var(--text-4);
}

.text5 {
  color: var(--text-5);
}

.text6 {
  color: var(--text-6);
}

.text-yellow {
  color: var(--bg-yellow);
}

.text-red {
  color: var(--bg-red);
} 

.text-hover {
  color: var(--hover-text);
}

.bgsemi-black {
  background-color: var(--bg-semi-black);
}

.bgsemi-white {
  background-color: var(--bg-semi-white);
}

.bg-red {
  background-color: var(--bg-red);
}

.bg-yellow {
  background-color: var(--bg-yellow);
}

.bg-gray {
  background-color: var(--bg-gray);
}

// Fonts
.Arvo {
  font-family: 'Arvo', serif;
  font-weight: 400;
}

.Arvo-Bold {
  font-family: 'Arvo', serif;
  font-weight: 700;
}

.Arvo-Italic {
  font-family: 'Arvo', serif;
  font-style: italic;
}