.text1 {
    color: var(--text-1);
}

.text2 {
    color: var(--text-2);
}

.text3 {
    color: var(--text-3);
}

.text4 {
    color: var(--text-4);
}

.text5 {
    color: var(--text-5);
}

.text6 {
    color: var(--text-6);
}

.bg-red {
    background-color: var(--bg-red);
}

.bg-yellow {
    background-color: var(--bg-yellow);
}

.bg-gray {
    background-color: var(--bg-gray);
}
