/* ------------------- Variables de color ----------------------*/
$text-1: #FFFFFF;
$text-2: #DBDBDB;
$text-3: #2F2F2F;
$text-4: #707070;
$text-5: #4A4947;
$text-6: #878787;

/* Variables de fondo */
$bg-red: #B53325;
$bg-yellow: #E5A657;

:root {
  /* ----------------------- Colors ----------------------- */
    --text-1: #FFFFFF;
    --text-2: #DBDBDB;
    --text-3: #2F2F2F;
    --text-4: #707070;
    --text-5: #4A4947;
    --text-6: #878787;
    --bg-red: #B53325;
    --bg-yellow: #E5A657;
    --bg-gray: #F5F5F5;
}


/* Variables de espaciado */
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

/* Variables de tipografía */
