@font-face {
    font-family: 'Arvo';
    src: url('../fonts/Arvo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo-Bold';
    src: url('../fonts/Arvo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arvo-Italic';
    src: url('../fonts/Arvo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}