.capitalize {
  text-transform: capitalize;
}

/* Loading Screen */
.translate {
  animation: translate 1.6s ease-in-out infinite;
}

@keyframes translate {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(140px);
  }
  100% {
    transform: translateX(-20px);
  }
}
